<!--home.html-->
{% extends "base.html" %}
{% block content %}
<!-- Jumbotron -->
<div class="jumbotron">
    <h1>Python无处不在！</h1>
    <p class="lead">Python 已经有将近 30 年的历史，在过去 30 年中，Python 在运维工程师和数据科学家群体中受到广泛欢迎，然而却极少有企业将 Python
        作为生产环境的首选语言。在最近几年，这一情况有所改变。随着云计算、大数据以及人工智能技术的快速发展，Python 及其开发生态环境正在受到越来越多的关注。</p>
    <p class="lead">Django是一个高级Python Web框架, 鼓励快速,简洁,以程序设计的思想进行开发. 通过使用这个框架, 可以减少很多开发麻烦, 使你更专注于编写自己的app, 而不需要重复造轮子.
        Django免费并且开源。本程序基于Python语言Django框架开发。</p>
    <p class="lead">本程序基于Python语言Django框架开发。</p>

    <p><a class="btn btn-lg btn-success" href="/static/readme.pdf" role="button" target="_blank">点击阅读开发手册</a></p>
</div>
    <div class="table-responsive">
            <table class="table table-striped">

              <tbody>
                  {% for post in post_list %}
                <tr>
                  <td><a href="{% url "detail" id=post.id %}"> {{ post.CommodityName }}</a></td>
                  <td>{{ post.CommodityCategory }}</td>
                  <td>{{ post.CommodityDateTime |date:"Y/m/d"}}</td>
                  <td>{{ post.CommodityPrice }}</td>
                  <td><img src="{{ post.CommondityImage.url }}" alt="{{ post.CommodityName }}" height="150" width="150"></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

<div>
  {% for post in post_list2 %}
    <div style="width:300px" class="pull-left" >
        <div class="display: block">
        <img  class="img-responsive" src="../{{ post.CommondityImage.url}}" height="220" width="280"/></div>
        <div>
            <div >

               <a class="display: block" href="{% url "detail" id=post.id %}" class="center-block"> {{ post.CommodityName }}</a>
                </div>
                 <div class="display: block">
                     {{ post.CommodityPrice }}
            </div>
            </ul>

    </div>

    </div>
      {% endfor %}
</div>


{% endblock %}